@font-face {
    font-family: 'Gilroy-Bold';
    src: url('./font/Gilroy-Bold.ttf');
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('./font/Gilroy-Medium.ttf');
}
@font-face {
    font-family: 'gilroy-semibold';
    src: url('./font/gilroy-semibold.ttf');
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    scroll-behavior: smooth;
}

img{
    display: block;
    max-width: 100%;
}

.mainContent__leftSide h1{
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    line-height: normal;
    margin-bottom: 17px;
}

p, a, button{
    font-family: 'Gilroy-Medium';
}

.container {
    max-width: 1274px;
    margin: 0 auto;
}

.logos1{
    display: flex;
    width: 98px;
    justify-content: space-between;   
}

.Teg{
    width: 553px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.colorTeg{
    color: rgb(242, 102, 2);
}

.header {
    padding: 39 0;
    margin-bottom: 89px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation a {
    font-size: 16px;
    font-family: 'Gilroy-Medium';
}



.mainContent{
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.mainContent__leftSide{
    font-family: 'Gilroy-Bold';  
}

.mainContent__leftSide p{
    color: #888;
    font-size: 20px;
    line-height: normal;
    opacity: 0,7;
    /* max-width: 552px; */
    font-family: 'Gilroy-Medium';
    margin-bottom: 37px;
    
}

.mainContent__leftSide-btnlist{
    display: flex;
    align-items: center;
}

.mainContent__leftSide-btnlist button{  
    font-family: 'Gilroy-Bold';
    padding: 15px 15px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

/* .footer{
    margin-bottom: 100px;
} */

.logos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}


.cardlist{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    gap: 30px;
    align-items: start;
    text-align: left;
}

.card h1{
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 28px;
}

.card p{
    font-family: 'Gilroy-Medium';
    font-size: 15px;
    line-height: 22.5px;
}

.card h2{
    font-family: 'Gilroy-Bold';
    font-size: 11px;
    line-height: 16.5px;
}

.cardlist2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.cardd{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    gap: 10px;
    align-items: start;
    cursor: pointer;
}

.cardlist2 h1{
    display: grid;
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 30px;
}

.cardlist2 p{
    font-family: 'Gilroy-Medium';
    font-size: 15px;
    line-height: 22.5px;
    align-items: center;
}

.cardd button{
    font-family: 'Gilroy-Bold';
    font-size: 13px;
    line-height: 19.5px;
    text-align: center;
    align-items: center;
}